@model empty.Models.ResumeViewModel

@{
    ViewData["Title"] = "O mnie";
}

<h2>@Html.DisplayNameFor(model => model.Biography)</h2>

<article class="resume">
    <figure>
        <img src="~/images/resume/ja.jpg" alt="Wojciech Nitwinko" class="img-responsive resume-img" />
        <figcaption>Wojciech Nitwinko</figcaption>
    </figure>
    @Html.Raw(@Model.Biography)

</article>

<br />
<h4>Kalendarium</h4>
<br />
@Html.Partial("Resume/_ResumePositions", @Model.Positions)