@model empty.Models.NewsCarouselViewModel

<div class="news-carousel hidden-xs row">
    <div class="col-sm-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
            <ol class="carousel-indicators">  
                @for (var j=0; j < Model.News.Count; j++)
                {                    
                    <li data-target="#myCarousel" data-slide-to="@(j)" 
                        class="@(j == 0 ? "active" : "")"
                    ></li>
                }
            </ol>
            <div class="carousel-inner" role="listbox">
            @{int i = 0;}
            @foreach (var news in Model.News)
            {
                i++;
                <div class="item @(i == 1 ? "active" : "")">                    
                    <div class="item-content" 
                         style="@(news.Images.Count > 0 ? ("background-image: url('../" + news.Images[0] + "')") : "")"></div>
                    <div class="carousel-caption" role="option">
                        <div class="item-title">
                            <p>@news.Title</p>
                        </div>
                    </div>
                </div>    
            }
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>